#blob1,#blob2,
#blob3, .hidden-paths {
  visibility: hidden;
}

svg {
  height: 100%;
  width: 100%;
}

.svg-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
  width: 400px;
  z-index: 10;
}
